In [4]:
import pandas as pd

# Data Preprocessing

In [5]:
df = pd.read_csv("data.csv")
df.head()

   Category                                            Message
0         1  Last summer I had an appointment to get new ti...
1         2  Friendly staff, same starbucks fair you get an...
2         1  The food is good. Unfortunately the service is...
3         2  Even when we didn't have a car Filene's Baseme...
4         2  Picture Billy Joel's \"Piano Man\" DOUBLED mix...

In [6]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
1          19000  19000  Started out with a rude front desk manager who...
2          18999  18999  This place is amazing! This is my favorite san...


         freq
Category
1           1
2           1

# Split train and test data

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.Category)

# Convert text data into numbers

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# Using Multinomial Naive Bayes as model

In [9]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

# Evaluate the score

In [10]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.8610526315789474

# Make prediction

In [11]:
message = [
    "Unfortunately, the frustration of being Dr. Goldberg's patient is a repeat of the experience I've had with so many other doctors in NYC -- good doctor, terrible staff.  It seems that his staff simply never answers the phone.  It usually takes 2 hours of repeated calling to get an answer.  Who has time for that or wants to deal with it?  I have run into this problem with many other doctors and I just don't get it.  You have office workers, you have patients with medical needs, why isn't anyone answering the phone?  It's incomprehensible and not work the aggravation.  It's with regret that I feel that I have to give Dr. Goldberg 2 stars."
]
message_count = v.transform(message)
model.predict(message_count)

array([1], dtype=int64)